MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/kmdev?authSource=admin
NEXTAUTH_URL=https://your-vercel-app.vercel.app
NEXTAUTH_SECRET=replace-with-a-secure-random-string-at-least-32-characters
GITHUB_ID=
GITHUB_SECRET=
ADMIN_GITHUB_EMAIL=

# OpenRouter AI Chatbot
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENROUTER_MODEL=mistralai/mistral-7b-instruct-v0.1